.parentBar{
	overflow-x: scroll;
	width:100%;
}


.jDiv{
	position: relative;
	width: 100%;
}

.divMaster{
	padding-top: 5em;
	/*padding-right: 11em;*/

	padding-right: 16em;
}

.divLine{
	margin-top: 60px;
	margin-left: 20px;
	width: 80%;
	height: auto;
}

#region_title{
	margin-top: 60px;
	margin-left: 20px;
}

.divDoughnut{
	width: 30%;
	margin-left: 70px;
	margin-top: 40px;
}

.divMaster{
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

/*option selector in selector_create_graph*/

 .create_graph_Selector{
  letter-spacing: 3px;
  height: 3rem;
  font-size: 0.9rem;
  background-color: white;
  padding-left: 2em;
  border: 3px solid gray;
  transition: .3s ease-in-out;
  float: left;
  margin-top: 2em;
  margin-left: 2em;
  margin-bottom: 3em;

}

.graphGlobal_selector{
  letter-spacing: 3px;
  height: 3rem;
  font-size: 0.9rem;
  background-color: white;
  padding-left: 2em;
  border: 3px solid gray;
  transition: .3s ease-in-out;
  float: right;
  margin-top: 2em;
  margin-right: 2em;
  margin-bottom: 3em;
}

