.parentNewsBox{
	display: flex;
	flex-direction: column;
	padding-left: 9em;
	padding-top: 3em;
	font-size: 17px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#news_ul{
	list-style-type: none;
}

/*.newsLink{*/
	/*text-decoration: none;*/
	/*background-color: none;*/
	/*color: black;*/
/*}*/

#headlines_li{
	padding-top: 2em;
	text-decoration: underline;
}

#headlines_li:hover{
	cursor: pointer;
	color: teal;
	font-weight: bold;
}

#news_h2{
	padding-top: 4em;
}

#news_ul{
	padding-left: 9em;
}

.newsBox{
height: 20em;
width: 60em;
margin-top: 5em;
background-color: #ededed;
border-radius: 2em;
}

.newsBox:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
	cursor: pointer;
}

.indvNews{
	
}


.newsImg{
	width: 25em;
	height: 20em;
	float: right;
	border-radius: 0em 2em 2em 0em;
	overflow: unset;
}

.text-container{
   padding: 2px 16px;	
}

#news_footers{
	padding-top: 2em;
}

